/* imports */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --main-bg-color: #18171f;
  --secondary-bg-color: #24232c;
  --main-font-color: #e6e5ea;
  --secondary-font-color: #817d92;
  --bar-color-1: #f64a4a;
  --bar-color-2: #fb7c58;
  --bar-color-3: #fb7c58;
  --utility-color: #a4ffaf;
}

/* Typography */

h1,
h2,
body {
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-font-color);
}

body {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Main Section */

.main-heading {
  margin-bottom: 31px;
}

.container {
  width: 540px;
  height: 632px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-output {
  height: 80px;
  border: none;
  font-size: 42px;
  font-family: "JetBrains Mono", monospace;
  color: var(--main-font-color);
}

.text-output,
.slider-section {
  background-color: var(--secondary-bg-color);
  padding: 20px;
}

.slider-section {
  height: 510px;
  margin-top: 20px;
}

.text-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generated-password {
  color: var(--secondary-font-color);
}

.copy-section {
  font-size: 20px;
  color: var(--utility-color);
}

.fa-copy:hover {
  color: whitesmoke;
  cursor: pointer;
}

/* Slider Section */

.slider-section {
  height: 510px;
  margin-top: 20px;
}

#myinput {
  height: 10px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  margin: 40px 0;
}

input[type="range"]::-webkit-slider-thumb {
  width: 30px;
  -webkit-appearance: none;
  height: 30px;
  background: white;
  border-radius: 50%;
}

.character-length-section {
  display: flex;
  justify-content: space-between;
}

.slider-value {
  color: var(--utility-color);
  font-size: 30px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
  border: 2px solid var(--utility-color);
}
